# API
PORT=3000
BASE_URL=http://localhost:3000

# Banco de dados
MONGODB_URI=mongodb://127.0.0.1:27017/nova-gestao-de-alunos

# JWT
JWT_SECRET=

# Credenciais usadas pelos testes externos
ADMIN_EMAIL=admin@escola.com
ADMIN_SENHA=
ALUNO_EMAIL=liliane.jacobs.1790374442693@example.com
ALUNO_SENHA=